---
import Badge from "./Badge.astro";
import Linkedin from "../icons/linkedInIcon.astro";
import SocialPill from "./SocialPill.astro";
import Github from "../icons/githubIcon.astro";
import Mail from "../icons/MailIcon.astro";
import Experience from "./Experience.astro";
import SectionContainer from "./SectionContainer.astro";
import BriefCase from "../icons/briefCaseIcon.astro";
import Projects from "../icons/projectsIcon.astro";
---

<main class="px-4">
    <SectionContainer class="py-44 pb-27">
        <h1 class="text-white text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
            Hey, Soy Ariel Navas
            <a
                href="https://ec.linkedin.com/in/navasariel"
                target="_blank"
                class="flex justify-center items-center"
                ><Badge>Disponible para trabajar</Badge></a
            >
        </h1>
        <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
            <span>1 año de experiencia.</span>
            <span class="text-yellow-200/90 opacity-80"
                >Desarrollador FullStack.</span
            >
            <span class="text-red-100/90">De Ambato, Ecuador 🏁.</span>
            <span class="opacity-85">
                Especializado en crear soluciones unicas
            </span>
        </h2>
        <nav class="flex gap-4 mt-8 flex-wrap">
            <SocialPill href="https://ec.linkedin.com/in/navasariel">
                <Linkedin class="size-4 md:size-6" />
                LinkedIn
            </SocialPill>
            <SocialPill href="https://github.com/ANavas07">
                <Github class="size-4 md:size-6" />
                Github
            </SocialPill>
            <SocialPill href="https://github.com/ANavas07">
                <Mail class="size-4 md:size-6" />
                arielnavas05@gmail.com
            </SocialPill>
        </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
        <h2 class="text-2xl font-bold mb-10 flex gap-x-3 items-center">
            
            <BriefCase class="size-7" />
            Experiencia Laboral
        </h2>
        <Experience />
    </SectionContainer>
    <SectionContainer id="experiencia">
        <h2 class="text-2xl font-bold mb-10 flex gap-x-3 items-center">
            <Projects class="size-7" />
            Proyectos
        </h2>
        <Experience />
    </SectionContainer>
</main>
